name: Ubuntu experiments

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Clone public dependency repo
        uses: actions/checkout@v4
        with:
          repository: samtools/htslib
          path: htslib
      - name: Build htslib
        working-directory: htslib
        run: |
          ls -l
      - name: Use the tool
        run:
          find / -name htslib
