name: Ubuntu experiments

on:
  workflow_dispatch:

jobs:
  ubuntu-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
  - name: Clone another repo
    uses: actions/checkout@v4
    with:
      repository: samtools/htslib
      path: htslib
    run:
      ./configure && make -j4 && make install
  - name: Check
    run:
      find / -name htslib && \
      find / -name sam.h
