name: Ubuntu experiments

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build htslib
        run: |
          git clone --recursive git@github.com:samtools/htslib.git && \
          cd htslib && \
          make -j4
      - name: Use the tool
        run:
          find / -name htslib
