name: Ubuntu experiments

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt-get install -y liblzma-dev
      - name: Build htslib
        run: |
          git clone --recursive https://github.com/samtools/htslib.git && \
          cd htslib && \
          make -j4 && \
          sudo make install
      - name: Use the tool
        run:
          find / -name htslib
